html {
    scroll-behavior: smooth;
  }

h1:first-child {
    display: none;
}

#menu a {
    color: #24292f;
}

#menu a:hover {
    text-decoration: none;
}


#menu a.active {}

#menu li.item-active{
    background: #F6F8FA;
}

li.item-link:hover {
    background: #F6F8FA;
    cursor: pointer;
}

li.spacer {
    color: #989494;
}

a[href*="github"]{display: none}
a[href*="docs.csgis.de"]{display: none}
a.backlink{color: #bbb4b4}
a.backlink:hover{color: #000}

div#logo {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    left: 1rem;
}

div#logo a {
    text-decoration: none;
    color: indianred!important;
}

#menu {
    /* position: fixed; */
    top: 0;
    left: 0rem;
    height: 100vh;
    border-right: 1px solid #eee;
    padding-top: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 220px;
    position: fixed;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#menu ul li {
    list-style-type: none;
    padding: 8px 5px 8px 15px;
    border-bottom: 1px solid #eee;
    margin-top: 0!important;
}

#jumpMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding-top: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
    width: 270px;
    position: fixed;
}

#jumpMenu ul li {
    list-style-type: none;
    padding: 0;
}


#jumpMenu ul li {
    list-style-type: none;
    padding: 0;
}

#jumpMenu ul li  a {
    color: #959da5!important
}

#jumpMenu ul li a.second {
    padding-left: 18px;
}

#jumpMenu ul li a.second:before {
    content: "- ";
}
.container-lg{
    /* width: 91%!important; */
    max-width: 65%;
}

@media screen and (max-width: 1550px) {
    .container-lg{
        width: 70%!important;
    }
}

@media screen and (max-width: 1430px) {
    .container-lg{
        width: 50%!important;
    }
}

@media screen and (max-width: 930px) {
    .container-lg{
        width: 95%!important;
        max-width: 72%;
        margin-left: 200px!important
    }

    #jumpMenu {
        display: none!important;
        right: -1000px;
    }
}

