html {
    scroll-behavior: smooth;
  }

h1:first-child {
    display: none;
}

#menu a {
    color: #24292f;
    font-size: 14px;
}

#menu a:hover {
    text-decoration: none;
}


#menu a.active {}

#menu li.item-active{
    background: #fff;
}

li.item-link:hover {
    background: #fff;
    cursor: pointer;
}

li.spacer {
    color: #333;
    font-size: 14px;
}

/* a[href*="github"]{display: none} */
a[href*="docs.csgis.de"]{display: none}
a.backlink{color: #bbb4b4}
a.backlink:hover{color: #000}

div#logo {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    left: 1rem;
    z-index: 2;
}

div#logo a {
    text-decoration: none;
    color: black!important;
    font-size: 14px;
}

#menu {
    /* position: fixed; */
    top: 0;
    left: 0rem;
    height: 100vh;
    border-right: 1px solid rgba(211,220,228,1.00);
    padding-top: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 220px;
    position: fixed;
    background: #F4F7F9;
    z-index: 1;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#menu ul li {
    list-style-type: none;
    padding: 8px 5px 8px 15px;
    border-bottom: 1px solid rgba(211,220,228,1.00);
    margin-top: 0!important;
    width: 220px;
}

#jumpMenu {
    position: fixed;
    top: 0;
    right: 8px;
    height: 100vh;
    padding-top: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
    width: 270px;
    position: fixed;
}

#jumpMenu ul li {
    list-style-type: none;
    padding: 0;
}


#jumpMenu ul li {
    list-style-type: none;
    padding: 0;
    margin: 0
}

#jumpMenu ul li  a {
    color: #959da5!important;
    font-size: 14px;
}

#jumpMenu ul li a.second, #jumpMenu ul li a.third {
    padding-left: 12px;
}

 #jumpMenu ul li a.third {
    padding-left: 25px;
}


#jumpMenu ul li a.second:before {
    content: "- ";
}

#jumpMenu ul li a.third:before {
    content: "• ";
}

.container-lg{
    /* width: 91%!important; */
    max-width: 65%;
}

@media screen and (max-width: 1550px) {
    .container-lg{
        width: 70%!important;
    }
}

@media screen and (max-width: 1430px) {
    .container-lg{
        width: 50%!important;
    }
}

@media screen and (max-width: 930px) {
    .container-lg{
        width: 95%!important;
        max-width: 72%;
        margin-left: 200px!important
    }

    #jumpMenu {
        display: none!important;
        right: -1000px;
    }
}

.markdown-body img {
    box-shadow: 9px 10px 8px -8px rgba(0,0,0,0.43);
    -webkit-box-shadow: 9px 10px 8px -8px rgba(0,0,0,0.43);
    -moz-box-shadow: 9px 10px 8px -8px rgba(0,0,0,0.43);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 82%;
}

small.caption {
    display: block;
    margin-left: 3rem;
    color: #8b8a8a;
}

.highlight_jumpling {
    background: #F6F8FA;
}