#menu a {
    color: #7BB0A6
}

#menu a.active {
    color: grey;
    padding-left: 5px;
}

a[href*="github"]{display: none}


div#logo {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    left: 1rem;
}

div#logo a {
    text-decoration: none;
    color: indianred;
}

#menu { 
    position: absolute;
    top: 0;
    left: 0rem;
    height: 100vh;
    border-right: 1px solid #eee;
    padding-right: 4rem;
    padding-top: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 220px;
}

#menu ul li {
    list-style-type: none;
    padding: 0;
}