#menu a {
    color: #7BB0A6
}

#menu a.active {
    color: grey;
    padding-left: 5px;
}

a[href*="github"]{display: none}


div#logo {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    left: 1rem;
}

div#logo a {
    text-decoration: none;
    color: indianred!important;
}

#jumpMenu { 
    position: absolute;
    top: 0;
    right: 0rem;
    height: 100vh;
    padding-top: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
}

#jumpMenu ul li {
    list-style-type: none;
    padding: 0;
}


#jumpMenu ul li {
    list-style-type: none;
    padding: 0;
}